<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../static/partials/head'); %>
  </head>
  <body>
    <%- include('../static/partials/navbar'); %>

      <main class="container">
        <header class="my-4 text-center">
          <h1>Wallchat</h1>
          <p>text here</p>
        </header>
      </main>

    <%- include('../static/partials/baseScripts'); %>
  </body>
</html>
