<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/navbar'); %>

      <main class="container">
        <header class="jumbotron my-4 text-center">
          <h1>Welcome to Wallchat!</h1>
          <p>A simple application in which you can post comments to a wall.</p>
          <p>All user posts are anonymous with a random 9 digit number.</p>
          <p>View what others post on the wall as well.</p>
        </header>
      </main>

    <%- include('partials/baseScripts'); %>
  </body>
</html>
