<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('partials/head'); %>
  </head>
  <body>
    <%- include('partials/navbar'); %>

      <main class="container">
        <header>
          <h1>Welcome to Wallchat!</h1>
        </header>
      </main>

    <%- include('partials/baseScripts'); %>
  </body>
</html>
